<!DOCTYPE html>
<html>
    <head>
        <title> Home page</title>
    </head>
    <body>
        <h1>Welcome to Codegnan Page</h1>
    <form method="post" action="/postData">
        <label>Enter your name:</label>
        <input type ="text" name ="name" required/><br/>
        <label>Enter your email:</label>
        <input type ="email" name="email" required/><br/>
        <label>Enter your password:</label>
        <input type = "password" name="password" required/><br/>
        <input type = "submit" value="submit"/>
        <span style="color:red">{{err}}</span>
        <span style="color:lawngreen">{{msg}}</span>
    </form>
    </body>
</html>